@import url(./roller.css);
@import url(./containers.css);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-nunito);
    background-image: url(../source/sky.jpg);
}

:root{
    --color-yellow: #F18F01;
    --color-darkBlue: #7dbcf0;
    --color-cyan: #CFFFE5;
    --color-white: #FFFFFF;
    --color-black: #0A0A0A;
    --color-gray: #d4d4d4;
    --font-nunito: 'Ubuntu', sans-serif;
}